aiohttp
requests
beautifulsoup4
lxml
aiodns
appdirs
# cchardet # Not strictly required
colorama
pyyaml
certifi
PyMuPDF
PyQt5==5.15.11
pyinstaller==5.13.2
tenacity
babel
pywin32; sys_platform == 'win32'