aiohttp
requests
beautifulsoup4
lxml
aiodns
cchardet
colorama
pyyaml
certifi
PyMuPDF
PyQt5==5.15.2
pyinstaller
git+https://github.com/Digital-Sapphire/PyUpdater
PyUpdater-S3-plugin
pywin32; sys_platform == 'win32'